body {
	margin: 0;
	font-family: 'Arial', sans-serif;
	height: 100%;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: url('../assets/logo_vert.png ');
	background-size: cover;
	position: relative;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/* Bouton Accueil */
.btn-retour {
	position: absolute;
	top: 20px;
	left: 20px;
	background-color: #ffffffcc;
	color: #31C48D;
	border: none;
	padding: 10px 18px;
	border-radius: 5px;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.3s ease;
	z-index: 100;
}

.btn-retour:hover {
	background-color: #ffffffee;
	transform: scale(1.05);
}

.login-form {
	background: #fff;
	padding: 30px;
	width: 100%;
	max-width: 450px;
	border-radius: 20px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
	text-align: center;
	z-index: 10;
}

h1 {
	font-size: 32px;
	color: #31C48D;
	margin-bottom: 25px;
}

.input-data {
	position: relative;
	margin-bottom: 40px;
	width: 100%;
	text-align: left;
}

.input-data input {
	width: 95%;
	padding: 12px 10px;
	font-size: 16px;
	border: none;
	border-bottom: 2px solid #ccc;
	outline: none;
	background: transparent;
}

.input-data input:focus {
	transform: scale(1.02);
}

.input-data label {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 14px;
	color: #aaa;
	pointer-events: none;
	transition: 0.3s ease all;
}

.input-data input:focus~label,
.input-data input:valid~label {
	top: 5px;
	font-size: 12px;
	color: #31C48D;
}

.input-data .underline {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	width: 0;
	background: #31C48D;
	transition: width 0.3s ease;
}

.input-data input:focus~.underline {
	width: 100%;
}

.error {
	color: red;
	font-size: 13px;
	margin-top: 5px;
}

/* Bouton principal */
.btn button {
	background-color: #31C48D;
	color: white;
	width: 100%;
	padding: 15px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	cursor: pointer;
	transition: background-color 0.3s ease, transform 0.3s ease;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.btn button:hover {
	background-color: #28ab75;
	transform: scale(1.05);
}

.success {
	color: #31C48D;
	margin-top: 15px;
	font-weight: bold;
	font-size: 16px;
}

/* Responsive */
@media (max-width: 768px) {
	.login-form {
		padding: 25px;
		max-width: 90%;
	}

	h1 {
		font-size: 28px;
	}
}

@media (max-width: 480px) {
	h1 {
		font-size: 24px;
	}

	.btn button {
		font-size: 16px;
		padding: 12px;
	}
}